img{
  width: 50px;
}

a {
  color:rgba(0,0,0, .8);
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color:rgba(0,0,0, 1);
}

.container-flex {
  display: flex;
}

.title{
  font-size: 180%;
  margin-bottom: 50px;
}
