.imgTeam {
  margin-top: 50px;
  border-radius: 50px;
  height: 150px;
  width: 250px;
}

.icon-team{
  width: 25px;
  height: 25px;
}

.member{
  width: 250px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  text-align: center;
}


.desc{
  float:right;
  margin-right: 10px;
  border: 0.5px solid black;
  width: 25px;
  height: 25px;
}
.desc:hover{
  background-color: #cff0f7;
}

.popup{
  background-color: #efedd7;
}

.popupInner{
  color:black;
  text-align: center;
  border:solid 1px red
}
