.imgTeam {
  border-radius: 50px;
  height: 150px;
  width: 250px;
}

.icon-team{
  width: 25px;
  height: 25px;
}

.member{
  width: 250px;
  border-top: 4px solid black;
}

.centerDiv{
  text-align: center;
}

.photo{
  display: inline-block;
  border: 3px rgba(56,115,160,0.9) solid;
  background-color: rgba(56,115,160,0.9);
  color:white;
}

.popup{
  background-color: #adb3bc;
}

.popupInner{
  color:black;
  height:300px;
}

.popoverButton {
  float: right;
}

#item{
  height: 50px;
  transition:border-width 1s ease,height 0.7s ease;
  height: 300px;
  border: grey solid 1px;
}
