.drapeaux{
  width: 50px;
}

a {
  color:rgba(66,191,244, .6);
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color:rgba(66,191,244, 1);
  text-decoration: none;

}

.container-flex {
  display: flex;
}

#read {
    color: #8f9fba;
}
#download {
    margin-top: 100px;
    color: #8f9fba;
}
.readDownload{
  margin-top: 20px;
  font-size: 180%;
  margin-bottom: 30px;
}
/* .readDownload::before{
  content: '';
  background-color: #CDE3FB;
  height: 2px;
  width: 60px;
  border-radius: 1px;
  position: absolute;
  top: 50px;
  left: 0;
} */
