
html, body {
  height: 100%;
}

body {
  font-family: "Andale Mono", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

  #ose-content {
    z-index: 2;
    position: relative;
    width: 100%;
    top:100px;
    min-height: calc(100% - 150px);
    overflow: hidden;
    /* background: linear-gradient(white,#f5f5ef); */
    background: white;

    }
