.headerFix{
  top: 0;
  position:fixed;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transition: height 0.4s ease;
  height: 100px;
  z-index: 1000;
  background-color: white;
}

.headerMoving{
  top: 0;
  position:fixed;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transition: height 1s ease;
  height: 80px;
  z-index: 1000;
  background-color: white;
}

.menuDisplay{
  display: flex;
  align-items: center;
}

#header-menu{

}

.oseLogoFix {
    transition: width 0.5s ease;
    width: 7%;
    min-width: 50px;
}

.oseLogoMoving {
    transition: width 1.5s ease;
    width: 6%;
}

a {
  color:rgba(0,0,0, .8);
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color:rgba(0,0,0, 1);
}

.link {
  padding: 20px;
}

.whitelist {
  padding: 10px;
  border: dotted black 2px;
}

.whitelist:hover {
  padding: 10px;
  border: double black 2px;
}

#oseIcon{
}

.icon {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.iconDisplay{
  display: flex;
  justify-content: space-between;
}
