@media (max-width: 850px) {
  .iconDisplay{
    display: flex;
    justify-content: flex-start;
     flex-direction: column;
  }
  .menuDisplay{
    display: flex;
    align-items:center;
  }
  #header-menu{
    display:flex;
    align-items: center;
  }
  .link {
    transition: margin 1s ease;
    margin: -4%;
  }
}

#menu-dropdown{
  margin-left: 25px;
}

.headerFix{
  top: 0;
  position:fixed;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transition: height 0.4s ease;
  height: 100px;
  z-index: 1000;
  border: grey solid 0px;

}

.headerMoving{
  top: 0;
  position:fixed;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transition:background-color 0.5s ease,border-width 1s ease,height 0.7s ease;
  height: 80px;
  background-color: #f5f5f5;
  border: grey solid 1px;
  z-index: 1000;
}

.menuDisplay{
  display: flex;
  align-items: center;
}

.oseLogoFix {
    transition: width 0.5s ease;
    width: 7%;
    min-width: 50px;
}

.oseLogoMoving {
    transition: width 1.5s ease;
    width: 6%;
      min-width: 50px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  padding: 20px;
}
.link:hover{
  color:rgba(0,0,0, 1);
}


.whitelist {
  padding: 10px;
  border: dotted black 2px;
}

.whitelist:hover {
  border: double black 2px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.iconDisplay{
  display: flex;
  justify-content: space-between;
}
