#footer-display {
  position:relative;
  bottom:0;
  color:white;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(56,115,160,0.8)
}

.icon {
  width: 25px;
  height: 25px;
}
