#footer-display {
  position:relative;
  bottom:0;
  width: 100%;
  border-top: 1px solid grey;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


#ose-icon{
  margin: auto;

}

.icon {
  width: 25px;
  height: 25px;
}
